<h2>Welcome back dear user!</h2>

<div class="color3">
    <div class="auth-container">
        <h3>Fill out your information to create a subscription.</h3>
        <br>
        <form id="fill-form" class="form-medium">
            <div class="field">
                <input class="field_input date" type="date" id="birthdate" placeholder="">
                <label class="field_label" for="birthdate" value="Birthdate"></label>
                <label id="date-icon" for="birthdate" class="custom-calendar-icon"></label>
            </div>
            <div class="field">
                <input class="field_input" type="phone" id="phone" placeholder="+XXXXXXXXXXX">
                <label class="field_label" for="phone" value="Phone number"></label>
            </div>
            <div class="field">
                <input class="field_input" type="text" id="address" placeholder="Country, City, Street x, Apt. x">
                <label class="field_label" for="address" value="Billing address"></label>
            </div>
            <div class="field">
                <input class="field_input" type="card" id="card" placeholder="XXXX XXXX XXXX XXXX">
                <label class="field_label" for="card" value="Card number"></label>
            </div>
            <img id="form-loading" style="width: 50px; display: none;" src="loading.gif" alt="Loading..">
            <h6 id="failure" style="display: block; font-size: 0; transition: font-size 0s; text-align: center;">Error</h6>
            <h6 id="success" style="display: block; font-size: 0; transition: font-size 0s; text-align: center;">Account has been created successfully!</h6>
            <button id="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
        <script type="module" src="client.js"></script>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>

<div class="color3">
    <h2>Things are yet to come</h2>
    <ul class="list-unstyled">
        <li>✅ Functioning sign up and login option</li>
        <li>❌ Manipulation of own data</li>
        <li>❌ Creation of a subscription plan</li>
        <li>❌ Customer support ticket system</li>
        <li>❌ Vehicle health status overview</li>
    </ul>
    <h2>Technologies used</h2>
    <ul class="list-unstyled">
        <li>html / css / javascript</li>
        <li>Node.js ...</li>
        <li>Python ...</li>
    </ul>